<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.company.touraddondemo"/>

    <bean id="touraddondemo_MBeanExporter" lazy-init="false"
          class="com.haulmont.cuba.core.sys.jmx.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="${cuba.webContextName}.touraddondemo:type=UiTestSupport"
                       value-ref="touraddondemo_UiTestSupportMBean"/>
            </map>
        </property>
    </bean>
</beans>
